
<div class="sidebar">  
  <hr>
    <div class="sidebar__header">
      PAGOS 
    </div>
    <div class="sidebar__body">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="sidebar">  
    <hr>
      <div class="sidebar__header">
        TRANSFERENCIAS
      </div>
      <div class="sidebar__body">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="sidebar">  
      <hr>
        <div class="sidebar__header">
          CERTIFICADOS
        </div>
        <div class="sidebar__body">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="sidebar">  
        <hr>
          <div class="sidebar__header">
            SEGURIDAD
          </div>
          <div class="sidebar__body">
            <ng-content></ng-content>
          </div>
        </div>
       