

<div  [ngClass]="classResponsive" class="header"  > 
    
    <div [ngClass]="classResponsive+'__item'"> <label> buenos dias , alexis </label></div>
    <div [ngClass]="classResponsive+'__item'">
        <label>  perfil</label> 
        <span  [ngClass]="classResponsive+'__item__line'"> 
             <fa-icon  size="2x" [icon]="faUserCircle"></fa-icon> 
       </span>
       
    </div>
    <div [ngClass]="classResponsive+'__item'">
        <label>  alertas  </label> 
        <span   [ngClass]="classResponsive+'__item__line'"> 
            <fa-icon size="2x" [icon]="faBell"></fa-icon> 
        </span>   
    </div>
    <div [ngClass]="classResponsive+'__item'">
        <label>  salida Segura </label>
        <span [ngClass]="classResponsive+'__item__exit'"> 
           <fa-icon size="2x" [icon]="faSignOutAlt"></fa-icon>
         </span>
    </div>

</div>







