
@import '../../../../styles/variables.scss';

.header {
    display: flex;
    justify-content: flex-end;
    font-family: $RThin;

    &__item {
       display: flex;
       align-items: center;
        padding: 1em;
         cursor: pointer;
        &__line{
            justify-items: center;
            font-size: 15px;
            color: rgb(146, 146, 165);
        }

    
        &__line::after{
            content: "|";
            font-size: 35px;
            margin-left: 5px;
        }

        &__exit{
            justify-items: center;
            font-size: 15px;
            color: rgb(146, 146, 165);
            cursor: pointer;
        }

        label{
            margin-right: 5px;
          
        }

 

    }
    &__item:first-child {
       
        position: relative;
        margin-right: auto;
        font-family: $RTBold;
    }


}

