

    <mat-card   class="product-card"  *ngFor="let item of ArrayProduct">

      <div class="productHeader">      
          <span  class="productHeader__icon">
            <fa-icon  size="2x" class="fas" [icon]="onLoadImg(item.accountInformation.productType)"></fa-icon> 
          </span>       
         <span class="productHeader__VerDetalle">  Ver Detalle</span>
      </div>
        <mat-card-content>
          <mat-card-title> {{item.accountInformation.productType}}   </mat-card-title>
          <mat-card-subtitle>Nro. {{item.accountInformation.id}}</mat-card-subtitle>
          <p>saldo disponible </p>
          <div *ngIf="item.productAccountBalances &&  item.productAccountBalances.saldo_disponible">
              {{item.productAccountBalances.saldo_disponible.amount | currency}} 
            </div>
        </mat-card-content>

      </mat-card>