
.containerHome {
    display: grid;
    margin-top: 0px;
    grid-template-columns: [x0] 1.50fr [x1] 0.50fr [x2] 9fr [x3] 0.50fr [x4];
    grid-template-rows: [top-line] 1fr [top-medium-line] 7fr [conten-medium-line]  4fr [bottom-medium-line] 1fr [bottom-line];
    height: 99vh;

    &__headerUser{
        grid-column: x2 / x3;
        grid-row: top-line / top-medium-line;
      }
      &__content {
        grid-column: x2 / x3;
        grid-row: top-medium-line / bottom-line;
      }
      &__sidebar {
        grid-column: x0 / x1;
        grid-row: top-line / conten-medium-line;
        display: inline-table;
        -webkit-box-shadow: 5px 3px 0px -1px rgba(150,150,150,0.55); 
        box-shadow: 5px 3px 0px -1px rgba(150,150,150,0.55);
      }
      &__footer {
        grid-column: x0 / x3;
        grid-row: bottom-line;
        display: inline-table;
      }

}

.options_sidebar {
    display: flex;
    flex-direction: column ;
    margin-top: 50px;
    hr{
      width: 85%;
    }
}

  
  
  
 
  
 