
<div class="main"  [ngClass]="{burgger__open: toggle}"  >
  <div class="logo"> 
    <img   class="logo__img" src="../assets/imgs/logo.jpeg" alt="Test">
  </div>

  <div class="menu-btn" [ngClass]="{open: toggle}" (click)="onToggle()" >
    <div class="menu-btn__burger">
    </div>
  </div>

   <div  [ngClass]="(toggle)?'sidebarmb':'sidebar'"  >  
    <label class="sidebar__title">  {{titleProduct}}</label>
     <ng-container  *ngFor="let item of options"  >
      <div class="sidebar__header" [ngClass]="{'active':toggle}" (click)="onToggle()" >
        <span  class="sidebar__header__item" >   {{item}}  </span> 
      </div>
      </ng-container>
  </div>


</div>





 



