
<div class="containerHome">
  <div class="containerHome__headerUser">
    <app-header></app-header>
  </div>
  <div class="containerHome__sidebar"> 
     <div class="logo"> 
        <img   class="logo__img" src="../assets/imgs/logo.jpeg" alt="Test">
     </div>
     <div class="products__nav">  
      <label >{{titleProduct}}</label>
     </div>
     <nav  class="options_sidebar"> 
       <app-sidebar> </app-sidebar>
      </nav>
  </div>
  <div class="containerHome__content">
    <app-products> </app-products>
  </div>
  <div class="containerHome__footer"></div>
</div>

<router-outlet></router-outlet>

